@page
@addTagHelper *, Microsoft.AspNetCore.MVC.TagHelpers
@model Web_Triolingo.Pages.Courses.CourseListModel
@{
    ViewData["Title"] = "Quản lý khóa học";
}
<h2 class="text-uppercase">Quản lý khóa học</h2>
<form method="post" asp-page-handler="export">
    <input type="submit" value="Xuất ra excel" class="btn btn-primary text-uppercase" />
</form>
<div class="row p-0">
    <div class="col-md-4 col-12">
        <div class="card">
            <h5 class="card-header bg-transparent text-uppercase">Danh sách</h5>
            <div class="boxscroll card-body">
                <table class="table table-hover ">
                    <thead>
                        <tr class="table-primary">
                            <th>#</th>
                            <th>Tên</th>
                            <th>Đánh giá</th>
                            <th>Ghi chú</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            if (Model.List != null)
                            {
                                int count = 1;
                                foreach (var item in Model.List)
                                {

                                    <tr onclick="document.getElementById('@("onClick"+count)').click()" class="@(Model.course!=null&&(item.Id==Model.course.Id)?"tr-selected":"")">
                                        <td>
                                            @count
                                            <form method="post" hidden asp-page-handler="edit">
                                                <input type="number" name="Id" value="@item.Id" />
                                                <input type="submit" id="@("onClick"+count)" />
                                            </form>
                                        </td>
                                        <td>@item.Name</td>
                                        <td>
                                            <div class="d-flex justify-content-between align-items-center">
                                                @{
                                                    for (int i = 0; i <= 5; i++)
                                                    {
                                                        if (item.RateAverage != null && i <= Math.Floor((decimal)item.RateAverage))
                                                        {
                                                            <i class="fa-solid fa-star"></i>
                                                        }
                                                        else if (item.RateAverage != null && Math.Round((decimal)(((decimal)item.RateAverage - (decimal)i) * 2), MidpointRounding.AwayFromZero) / 2 == (decimal)0.5)
                                                        {
                                                            <i class="fa-regular fa-star-half-stroke"></i>
                                                        }
                                                        else
                                                        {
                                                            <i class="fa-regular fa-star"></i>
                                                        }
                                                    }
                                                }
                                            </div>
                                        </td>
                                        <td>@item.Note</td>
                                    </tr>

                                    count++;
                                }
                            }
                        }
                    </tbody>
                </table>
            </div>
            <div class="card-footer bg-transparent d-flex justify-content-between align-content-center">
                <div>
                    <select class="form-select">
                        <option selected>15</option>
                        <option value="1">30</option>
                        <option value="2">50</option>
                        <option value="3">100</option>
                    </select>
                </div>
                <ul class="pagination m-0">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-8 col-12">
        <div class="card">
            <h5 class="card-header bg-transparent text-uppercase">Chi tiết</h5>
            <form method="post" class="card-body boxscroll" asp-page-handler="save">
                <div class="mb-3 row">
                    <label for="name" class="col-sm-2 col-form-label">Tên<span class="text-danger">*</span></label>
                    <div class="col-sm-10">
                        <input type="number" hidden asp-for="course.Id" />
                        <input disabled="@Model.isMentor" asp-for="course.Name" type="text" class="form-control" id="name">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="editor" class="col-sm-2 col-form-label">Mô tả<span class="text-danger">*</span></label>
                    <div class="col-sm-10">
                        <textarea disabled="@Model.isMentor" id="editor" asp-for="course.Description"></textarea>
                    </div>
                </div>
                @if (Model.course != null && Model.course.Id > 0)
                {

                    <div class="mb-3 row">
                        <label for="note" class="col-sm-2 col-form-label">Người hướng dẫn</label>
                        <div class="col-sm-10">
                            <div class="row row-cols-lg-6 row-cols-3 g-2">
                                @if (Model.users.Count > 0)
                                {
                                    @for (var i = 0; i < Model.users.Count; i++)
                                    {
                                        if (Model.isMentors[i])
                                        {
                                            <h5 class="col">@Model.users[i].FullName</h5>
                                        }
                                    }
                                    <button disabled="@Model.isMentor" type="button" class="btn btn-primary col" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                        Xem người hướng dẫn
                                    </button>
                                }
                                else
                                {
                                    <h5>Không có người hướng dẫn </h5>
                                }
                            </div>
                        </div>
                    </div>
                }
                <div class="mb-3 row">
                    <label for="note" class="col-sm-2 col-form-label">Ghi chú</label>
                    <div class="col-sm-10">
                        <textarea class="form-control w-100" disabled="@Model.isMentor" id="note" asp-for="course.Note"></textarea>
                    </div>
                </div>
                <button type="submit" disabled="@Model.isMentor" class="btn btn-primary px-3" hidden id="saveBtn">Lưu</button>
            </form>
            <div class="row card-footer border-0 bg-transparent justify-content-between align-content-center row-cols-md-5 row-cols-3">
                <div class="col">
                    <form method="post" asp-page-handler="add">
                        <button type="button" disabled="@Model.isMentor" class="btn btn-primary px-3">Thêm</button>
                    </form>
                </div>
                <div class="col"><button disabled="@Model.isMentor" type="button" class="btn btn-primary px-3" id="fakeSaveBtn">Lưu</button></div>
                <div class="col"><button disabled="@Model.isMentor" type="button" class="btn btn-primary px-3" id="disabledMode">Hủy</button></div>
                @*<div class="col"><button type="button" class="btn btn-primary px-3">Import</button></div>*@
                @{
                    if (Model.course != null && Model.course.Id != null)
                    {
                        <div class="col">
                            <a asp-page="../Units/ListAll" asp-route-id="@Model.course.Id" class="btn btn-primary px-3">Các học phần</a>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Người hướng dẫn</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" asp-page-handler="mentor">
                    <input type="number" hidden asp-for="course.Id" />
                    <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
                        @for(int i = 0;i<Model.users.Count;i++){
                            <input type="checkbox" asp-for="isMentors[i]" class="btn-check" id="@("btn"+Model.users[i].Id)" autocomplete="off">
                            <label class="btn btn-outline-primary" asp-for="isMentors[i]" for="@("btn"+Model.users[i].Id)">@Model.users[i].FullName</label>
                        }
                    </div>
                    <button type="submit" class="btn btn-primary px-3" hidden id="saveBtnPopUp">Lưu</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" disabled="@Model.isMentor" id="fakeSaveBtnPopUp">Save changes</button>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script type="text/javascript">
        let isDisabled = true;
        $(document).ready(() => {
            document.getElementById('fakeSaveBtn').addEventListener('click', () => {
                document.getElementById('saveBtn').click();
            })
            document.getElementById('fakeSaveBtnPopUp').addEventListener('click', () => {
                document.getElementById('saveBtnPopUp').click();
            })
            ClassicEditor.create(document.querySelector("#editor"), {
                language: 'vi',
                content: 'vi',
            }).then((e => {
                window.editor = e;
                const o = document.querySelector("#disabledMode");
                let t = !1;
                o.addEventListener("click", (() => {
                    isDisabled = !isDisabled;
                    $("input,textarea,select").attr("disabled", isDisabled);
                    t = !t, t ? e.disableReadOnlyMode("docs-snippet") : e.enableReadOnlyMode("docs-snippet"), e.editing.view.focus()
                }));
                const n = e.ui.view.toolbar.element;
                e.on("change:isReadOnly", ((e, o, t) => {
                    n.style.display = t ? "none" : "flex"
                }))
            })).catch((e => {
                console.error(e.stack)
            }))
        })
    </script>
}
<script src="~/js/microsoft/signalr/dist/browser/signalr.js"></script>
<script src="~/js/signalr.js"></script>