@page
@model Web_Triolingo.Pages.Settings.SettingListModel

<h1>Setting Managerment</h1>

<div class="">
    <button type="button" class="btn btn-secondary">Edit</button>
    <button type="button" class="btn btn-secondary">Delete</button>
</div>
<table>
    <tr id="rowToClick"><td>ClickMe</td></tr>
    <tr id="Tr1"><td>Toggled</td></tr>
    <tr id="Tr2"><td>Toggled</td></tr>
    <tr id="Tr3"><td>Toggled</td></tr>
    <tr id="Tr4"><td>Toggled</td></tr>
    <tr id="Tr5"><td>Toggled</td></tr>
    <tr id="rowToClick"><td>ClickMe</td></tr>
    <tr id="Tr6"><td>Toggled</td></tr>
    <tr id="Tr7"><td>Toggled</td></tr>
    <tr id="Tr8"><td>Toggled</td></tr>
    <tr id="Tr9"><td>Toggled</td></tr>
    <tr id="Tr10"><td>Toggled</td></tr>
</table>
<table class="table">
    <thead>
        <tr>
            <th>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        All
                    </label>
                </div>
            </th>
            <th>Tên</th>
            <th>Trạng thái</th>
            <th>Giá trị</th>
            <th>Ghi chú</th>
            <th>Sửa trạng thái</th>
        </tr>

    </thead>
    <tbody>
        @{
            int count = 1;
        }
        @foreach (var item in Model.ListAllSettings)
        {
            <tr class="dropdown">
                <td>
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        @count
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </td>
                <td>
                    @item.Name
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </td>
                <td>
                    @{
                        if (item.Status == 1)
                        {
                            <span class="badge bg-success">Active</span>
                        }
                        else
                        {
                            <span class="badge bg-danger">Deactive</span>
                        }
                    }
                </td>
                <td>@item.Value</td>
                <td>@item.Note</td>
                <td>
                    @{
                        if (item.Status == 1)
                        {
                            <form method="post">
                                <input type="hidden" asp-for="@item.Id" />
                                <input class="btn bg-danger" type="submit" value="Deactive" />
                            </form>
                        }
                        else
                        {
                            <form method="post">
                                <input type="hidden" asp-for="@item.Id" />
                                <input class="btn bg-success" type="submit" value="Active" />
                            </form>
                        }
                    }
                </td>
            </tr>
            count++;
        }
    </tbody>
</table>

<script type="text/javascript">

    $(document).ready(function () {
        $('#rowToClick').click(function () {
            $(this).nextAll('tr').each(function () {
                if ($(this).is('#rowToClick')) {
                    return false;
                }
                $(this).toggle();
            });
        });
    });
</script>
