@page
@addTagHelper *, Microsoft.AspNetCore.MVC.TagHelpers
@model Web_Triolingo.Pages.Settings.SettingListModel

<h1>Quản lý cài đặt</h1>

<div class="">
    <a class="btn btn-primary" data-bs-toggle="offcanvas" data-bs-target="#addNew" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
        Thêm mới
    </a>
    <div class="offcanvas offcanvas-start" tabindex="-1" id="addNew" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasExampleLabel">Thêm mới</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div>
                <form asp-page-handler="add" method="post">
                    <div class="form-group">
                        <label for="email">Tên</label>
                        <input type="text" required class="form-control" value="@Model.SettingAdd?.Name" asp-for="SettingAdd.Name" id="name" placeholder="nhập tên" aria-describedby="emailHelp">
                    </div>
                    <div class="form-group">
                        <label for="value">Giá trị</label>
                        <input type="text" required class="form-control" value="@Model.SettingAdd?.Value" asp-for="SettingAdd.Value" id="value" placeholder="nhập giá trị">
                    </div>
                    <div class="form-group">
                        <label for="note">Ghi chú</label>
                        <input type="text" class="form-control" id="note" value="@Model.SettingAdd?.Note" asp-for="SettingAdd.Note" placeholder="nhập ghi chú">
                    </div>

                    <div class="form-check">
                        <label for="chkShowSelect">Có phải cài đặt con không?</label>
                        <input id="chkShowSelect" class="form-check-input" type="checkbox">
                    </div>
                    <br />
                    <select class="form-select" asp-for="SettingAdd.ParentId" id="selOption" style="display: none;">
                        @{
                            <option selected value="">None</option>
                            foreach (var item in Model.ParentSetting)
                            {
                                <option id="@item.Id" value="@item.Id">@item.Name</option>
                            }
                        }
                    </select>
                    <br />
                    <button type="submit" class="btn btn-primary">Thêm</button>
                    <label class="text-danger">@ViewData["AddFailed"]</label>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row p-0">
    <div class="col-md-6 col-12">
        <h5 class="card-header bg-transparent text-uppercase">Danh sách</h5>
        <div class="boxscroll card-body">
            <table class="table table-hover">
                <thead>
                    <tr class="table-primary">
                        <td>No</td>
                        <th>Tên</th>
                        <th>Trạng thái</th>
                        <th>Giá trị</th>
                        <th>Ghi chú</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (var item in Model.ListAllSettings)
                        {
                            bool checkParent = item.ParentId == null;
                            string classTab = checkParent ? "table-warning" : "";
                            <tr class="@classTab" onclick="UpdateSetting(@item.Id)">
                                <form method="post" asp-page-handler="updatesetting" id="update-@item.Id">
                                    <input type="hidden" value="@item.Id" name="id" />
                                </form>
                                <td>
                                    @{
                                        if (checkParent)
                                        {
                                            <span class="material-symbols-outlined">
                                                arrow_drop_down
                                            </span>
                                        }
                                        else
                                        {
                                            <span class="material-symbols-outlined">
                                                arrow_right
                                            </span>
                                        }
                                    }
                                </td>
                                <td>@item.Name</td>
                                <td>
                                    @{
                                        if (item.Status == 1)
                                        {
                                            <span class="badge bg-success">Active</span>
                                        }
                                        else
                                        {
                                            <span class="badge bg-danger">Deactive</span>
                                        }
                                    }
                                </td>
                                <td>@item.Value</td>
                                <td>@item.Note</td>
                                <td>
                                    @{
                                        if (item.Status == 1)
                                        {
                                            <form method="post">
                                                <input type="hidden" name="Id" value="@item.Id" />
                                                <input class="btn bg-danger" type="submit" value="Deactive" />
                                            </form>
                                        }
                                        else
                                        {
                                            <form method="post">
                                                <input type="hidden" name="Id" value="@item.Id" />
                                                <input class="btn bg-success" type="submit" value="Active" />
                                            </form>
                                        }
                                    }
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-6 col-12">
        <div class="card">
            <h5 class="card-header bg-transparent text-uppercase">Chi tiết</h5>
            <form method="post" class="card-body boxscroll" asp-page-handler="edit">
                <input type="number" hidden asp-for="SettingAdd.Id"/>
                <div class="mb-3 row">
                    <label for="name" class="col-sm-2 col-form-label">Tên<span class="text-danger">*</span></label>
                    <div class="col-sm-10">
                        <input asp-for="SettingAdd.Name" required type="text" class="form-control" id="name">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="valueSet" class="col-sm-2 col-form-label">Giá trị<span class="text-danger">*</span></label>
                    <div class="col-sm-10">
                        <input asp-for="SettingAdd.Value" required type="text" class="form-control" id="valueSet">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="note" class="col-sm-2 col-form-label">Ghi chú<span class="text-danger">*</span></label>
                    <div class="col-sm-10">
                        <textarea id="editor" asp-for="SettingAdd.Note"></textarea>
                    </div>
                </div>
                @{
                    if (Model.SettingAdd != null && Model.SettingAdd.ParentId != null)
                    {
                        <div class="mb-3 row">
                            <label for="note" class="col-sm-2 col-form-label">Cài đặt cha<span class="text-danger">*</span></label>
                            <div class="col-sm-10">
                                @*<input type="number" hidden asp-for="GetCourse.Id" />*@
                                <select disabled class="form-select" asp-for="SettingAdd.ParentId" id="parentId">
                                    @{
                                        foreach (var item in Model.ListAllSettings)
                                        {
                                            bool isSelect = (Model.SettingAdd.ParentId == item.Id);
                                            if (isSelect)
                                            {
                                                <option selected id="@item.Id" value="@item.Id">@item.Name</option>
                                            }
                                            else
                                            {
                                                <option id="@item.Id" value="@item.Id">@item.Name</option>
                                            }
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                    }
                }
                <div class="col"><input type="submit" value="Lưu" class="btn btn-primary px-3" id="fakeSaveBtn" /></div>
                <label class="text-danger">@ViewData["UpdateFaild"]</label>
            </form>
        </div>
    </div>
</div>
@section Head{
    <link rel="stylesheet" href="~/css/Settings/SettingStyle.css" />
}
@section scripts{
    <script src="~/js/settings/settings.js"></script>
}
@{
    if (ViewData["AddFailed"] != null) {
        <script>
            window.onload = function () {
                $('#addNew').addClass('show')
            }
        </script>
    }
}