@page
@model Web_Triolingo.Pages.Settings.SettingListModel

<h1>Tao sang roi day</h1>
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Status</th>
            <th>Value</th>
            <th>Note</th>
            <th>ParentId</th>
        </tr>

    </thead>
    <tbody>
        @foreach (var item in Model.ListAllSettings)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Status</td>
                <td>@item.Value</td>
                <td>@item.Note</td>
                <td>@item.ParentId</td>
            </tr>
        }
    </tbody>
</table>
