@page
@model Web_Triolingo.Pages.QnA.IndexModel
@{
    ViewData["Title"] = "Quản lý câu hỏi và bài tập";
}
<h2 class="text-uppercase">Quản lý câu hỏi và bài tập</h2>
<div class="row p-0">
    <div class="col-md-4 col-12">
        <div class="card">
            <h5 class="card-header bg-transparent text-uppercase">Danh sách</h5>
            <div class="boxscroll card-body">
                <table class="table table-hover ">
                    <thead>
                        <tr class="table-primary">
                            <th>#</th>
                            <th>Câu hỏi</th>
                            <th>Loại</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            if (Model.List != null)
                            {
                                int count = 1;
                                foreach (var item in Model.List)
                                {

                                    <tr>
                                        <td>
                                            @count
                                        </td>
                                        <td>@item.Title</td>
                                        <td>@item.Setting.Name</td>
                                    </tr>
                                    @foreach(var question in item.Questions)
                                    {
                                        <tr onclick="if(document.getElementById('@("onClick"+question.Id)'))document.getElementById('@("onClick"+count)').click()" class="@(Model.Question!=null&&(item.Id==Model.Question.Id)?"tr-selected":"")">
                                            <td>
                                                @if (Model.Question == null || (item.Id != Model.Question.Id))
                                                {
                                                    <form method="post" hidden asp-page-handler="edit">
                                                        <input type="number" name="Id" value="@question.Id" />
                                                        <input type="submit" id="@("onClick"+question.Id)" />
                                                    </form>
                                                }
                                            </td>
                                            <td>@question.Question1</td>
                                            <td>@question.Mark</td>
                                        </tr>
                                    }
                                    count++;
                                }
                            }
                        }
                    </tbody>
                </table>
            </div>
            <div class="card-footer bg-transparent d-flex justify-content-between align-content-center">
                <div>
                    <select class="form-select">
                        <option selected>15</option>
                        <option value="1">30</option>
                        <option value="2">50</option>
                        <option value="3">100</option>
                    </select>
                </div>
                <ul class="pagination m-0">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    @*<div class="col-md-8 col-12 d-flex flex-column" style="row-gap: 0.5rem">
        <div class="row row-cols-1 row-cols-xl-2 align-items-center">
            <div class="col">
                <div class="row row-cols-1 row-cols-xl-4 g-2 align-items-end">
                    <form class="col" method="post" asp-page-handler="course">
                        <label for="editor" class="form-label">Khóa học<span class="text-danger">*</span></label>
                        <select class="form-select" name="id" asp-items="@(Model.Courses)" onchange="$('#saveCourseBtn').click()"></select>
                        <button type="submit" class="btn btn-primary px-3" hidden id="saveCourseBtn">Lưu</button>
                    </form>
                    <form class="col" method="post" asp-page-handler="unit">
                        <label for="editor" class="form-label">Học phần<span class="text-danger">*</span></label>
                        <select class="form-select" name="id" asp-items="@(Model.Units)" onchange="$('#saveUnitBtn').click()">
                        </select>
                        <button type="submit" class="btn btn-primary px-3" hidden id="saveUnitBtn">Lưu</button>
                    </form>
                    <form class="col" method="get">
                        <label for="editor" class="form-label">Bài học<span class="text-danger">*</span></label>
                        <select class="form-select" name="id" asp-items="@(Model.Lessons)" onchange="$('#saveLessonBtn').click()">
                        </select>
                        <button type="submit" class="btn btn-primary px-3" hidden id="saveLessonBtn">Lưu</button>
                    </form>
                </div>
            </div>
            <div class="col">
                <div class="row bg-transparent justify-content-between align-content-center row-cols-xl-5 row-cols-3">
                    <div class="col">
                        <form method="post" asp-page-handler="add">
                            <input type="number" hidden name="exerciseId" value="@(Model.Lesson!=null?Model.Lesson.Id:0)" />
                            <button type="submit" class="btn btn-primary px-3">Thêm</button>
                        </form>
                    </div>
                    <div class="col"><button type="button" class="btn btn-primary px-3" id="fakeSaveBtn" onclick="document.getElementById('saveBtn').click();">Lưu</button></div>
                </div>
            </div>
        </div>
        @if (Model.Question != null)
        {
            <div class="card">
                <h5 class="card-header bg-transparent text-uppercase">Chi tiết</h5>
                <form class="card-body boxscroll23" method="post" asp-page-handler="save">
                    <div class="mb-3 row">
                        <label for="name" class="col-sm-2 col-form-label">Tên<span class="text-danger">*</span></label>
                        <div class="col-sm-10">
                            <input type="number" hidden asp-for="Question.Id" />
                            <input type="number" hidden asp-for="Question.LessonId" />
                            <input asp-for="Question.Question1" type="text" class="form-control" id="name">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="type" class="col-sm-2 col-form-label">Loại<span class="text-danger">*</span></label>
                        <div class="col-sm-10">
                            <select id="type" class="form-select" asp-for="Question.TypeId" asp-items="@(Model.Settings)">
                            </select>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="editor" class="col-sm-2 col-form-label">Mô tả<span class="text-danger">*</span></label>
                        <div class="col-sm-10">
                            <textarea id="editor" asp-for="Question.Description"></textarea>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="mark" class="col-sm-2 col-form-label">Điểm<span class="text-danger">*</span></label>
                        <div class="col-sm-10">
                            <input asp-for="Question.Mark" type="number" min="1" class="form-control" id="mark">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary px-3" hidden id="saveBtn">Lưu</button>
                </form>
            </div>
            @if (Model.Question.Id != 0)
            {

                <div class="card">
                    <h5 class="card-header bg-transparent text-uppercase">Các đáp án</h5>
                    <div class="card-body">
                        <div class="container">
                            <div class="row row-cols-xl-4 row-cols-2 gy-4 gx-2">
                                @foreach (var ans in Model.Answers)
                                {
                                    <div class="col">
                                        <div class="alert alert-@(ans.IsCorrect?"success":"warning") alert-dismissible fade show" role="alert">
                                            <form method="post" asp-page-handler="open">
                                                <input type="number" hidden name="id" value="@ans.Id" />
                                                <input type="number" hidden name="questionId" value="@(Model.Question!=null?Model.Question.Id:0)" />
                                                <button type="submit" class="btn p-0 bg-transparent">
                                                    <strong>@ans.Answer1</strong>
                                                </button>
                                            </form>
                                            <button type="button" class="btn-close" data-bs-toggle="modal" data-bs-target="#@("deleteConfirm"+ans.Id)"></button>
                                        </div>
                                    </div>
                                    <div class="modal fade" id="@("deleteConfirm"+ans.Id)" aria-hidden="true" aria-labelledby="@("deleteConfirm"+ans.Id+"Label")" tabindex="-1">
                                        <div class="modal-dialog modal-sm">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-5" id="@("deleteConfirm"+ans.Id+"Label")">Xóa đáp án</h1>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    Bạn có chắc xóa đáp án @ans.Answer1 của câu hỏi @ans.Question.Question1 ?
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                                                    <form method="post" asp-page-handler="deleteAnswer">
                                                        <input type="number" hidden name="id" value="@ans.Id" />
                                                        <button type="submit" class="btn btn-danger">Xóa</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                                <div class="col">
                                    <div class="alert alert-primary fade d-flex justify-content-between align-items-center show" role="alert">
                                        <strong>Thêm đáp án</strong>
                                        <form method="post" asp-page-handler="open">
                                            <input type="number" hidden name="questionId" value="@(Model.Question!=null?Model.Question.Id:0)" />
                                            <button type="submit" class="btn p-0 bg-transparent">
                                                <i class="fa-solid fa-plus"></i>
                                            </button>
                                        </form>
                                    </div>
                                </div>
                                <button type="button" hidden class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addAnswer" id="editPopUp">
                                    Launch demo modal
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
*@</div>
<div class="modal fade" id="addAnswer" tabindex="-1" aria-labelledby="addAnswerLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="addAnswerLabel">Thêm đáp án mới</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form class="modal-body" method="post" asp-page-handler="saveAnswer">
                <div class="mb-3 row">
                    <label for="name" class="col-sm-2 col-form-label">Đáp án<span class="text-danger">*</span></label>
                    <div class="col-sm-10">
                        <input type="number" hidden asp-for="Answer.Id" />
                        <input asp-for="Answer.Answer1" type="text" class="form-control" id="name">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="editor" class="col-sm-2 col-form-label">Loại<span class="text-danger">*</span></label>
                    <div class="col-sm-10">
                        <div class="form-check mb-2">
                            <input class="form-check-input" type="checkbox" asp-for="Answer.IsCorrect">
                            <label class="form-check-label">
                                Có phải là đáp án đúng?
                            </label>
                        </div>
                    </div>
                </div>
                <input type="number" hidden asp-for="Answer.QuestionId" />
                <button type="submit" class="btn btn-primary px-3" hidden id="saveAnswerBtn">Lưu</button>
            </form>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="fakeSaveAnswerBtn" onclick="document.getElementById('saveAnswerBtn').click();">Save changes</button>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script type="text/javascript">
        let isDisabled = true;
        $(document).ready(() => {
            if ('@(Model.isEdit)'.toLowerCase()==='true'){
                if ($('#editPopUp')){
                    $('#editPopUp').click();
                }
            }
            ClassicEditor.create(document.querySelector("#editor"), {
                language: 'vi',
                content: 'vi',
            }).then((e => {
                window.editor = e;
                const o = document.querySelector("#disabledMode");
                let t = !1;
                o.addEventListener("click", (() => {
                    isDisabled = !isDisabled;
                    $("input,textarea,select").attr("disabled", isDisabled);
                    t = !t, t ? e.disableReadOnlyMode("docs-snippet") : e.enableReadOnlyMode("docs-snippet"), e.editing.view.focus()
                }));
                const n = e.ui.view.toolbar.element;
                e.on("change:isReadOnly", ((e, o, t) => {
                    n.style.display = t ? "none" : "flex"
                }))
            })).catch((e => {
                console.error(e.stack)
            }))
        })
    </script>
}